.seaLevels-info {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
  align-items: center;
}

select {
  width: 450px;
  height: 100px;
  background-color: transparent;
  font-size: 60px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  border: none;
  display: flex;
  text-align-last: center;
}

span {
  justify-content: center;
}

select {
  /*for firefox*/
  -moz-appearance: none;
  /*for chrome*/
  -webkit-appearance:none;
}


select:hover {
  background-color: lightblue;
  color: gray;
}

select:focus {
  outline: none;
}

.year, .seaLevel {
  font-size: 60px;
  height: 85px;
  width: 150px;
  display: flex;
  align-content: center;
  font-weight: 100;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 0px;
}


body {
  display: flex;
  flex-direction: row;
}

.graphslider{
  display: flex;
  flex-direction: column;
}

.slidecontainer{
  margin-left: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

input {
  width: 730px;
}

span, .year {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 0px;
}

.seaLevels {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.blurb{
  font-size: 20px;
}
